
// change your theme here
@import "./reveal.js/css/theme/source/blood.scss";

.reveal {
  font-size: 120%;
}

strong {
  color:$linkColorHover;
}

.smaller {
  font-size: 80%;
}
.smallest {
  font-size: 50%;
}

.dim .backgrounds {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  opacity: 0.5;
}

.dimmer .backgrounds {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.4;
}

.dimmest .backgrounds {
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  opacity: 0.2;
}